*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
form{   
    width: 40%;
    height: 60%;
    max-width: 600px;
    min-width: 300px;
    background: linear-gradient(rgba(0, 157, 255, 0.773),rgba(0, 140, 255, 0.093));
    border-radius: 30px;
    text-align: center;
    line-height: 2rem;
}
h1{
    padding-top: 15%;
}
input{
    border: none;
    border-radius: 20px;
    height: 25px;
    text-align: center;
}
#cracha{
    width: 600px;
    height: 400px;
    border-radius: 30px;
    border: 2px solid black;
    background:linear-gradient(rgb(71, 82, 164),rgba(255, 255, 255, 0.381));
}
h2{
    padding: 10px;
    text-align: center;
    font-size: 40px;
}
#cracha__head{
    width: 100%;
    height: 15%;
    border-bottom: 2px solid black;
}
#cracha__main{
    display: flex;
    width: 100%;
    height: 85%;
}
#cracha-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40%;
    height:100%;
}
#cracha-info{
    padding: 15px;
    width:60%;
    height:100%;
}
p{
    font-size: 24px;
}
.extra_info{
    text-align: center;
}